<div>
    <form>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 align="center"><input value="TEAM NAME" /></h2>
            </div>
            <div class="panel-body">
                <div class="">

                    <div class="well well-sm">
                        <h4><b>Team Lead Management:</b> <input value="ABC" /></h4>
                    </div>
                    <hr />
                    <div class="well">
                        <h4><b>Members: </b>{{members.length}}</h4>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="member in members">
                                <span><a href="" type="button" class="btn btn-sm btn-danger" ng-click="delMember($index)"><i class="glyphicon glyphicon-remove"></i> </a>{{member.name}}</span>
                            </li>                          
                            <li class="list-group-item">
                                <input name="newMember" ng-model="newMember" />
                                <span><a class="btn btn-sm btn-success" ng-click="addMember()"><i class="glyphicon glyphicon-plus-sign"></i> Add</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div align="right">
                    <a ng-href="" data-original-title="Save data" data-toggle="tooltip" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Save</a>
                    <a data-original-title="Cancel" data-toggle="tooltip" ng-href="#/teams/detail" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>